* {
    box-sizing: border-box;
}

:root {
    --primary-color: #ffb577;
    --background-color: #19161B;
    --font-heading: Playfair Display, 'serif';
}

html {
    font-size: 62.5%;
}

body {
    font-size: 1.6rem;
    font-family: "Poppins", sans-serif;
}

/* ================common=================*/
.main-content {
    width: 1280px;
    max-width: calc(100% - 48px);
    margin-left: auto;
    margin-right: auto;
}

a {
    text-decoration: none;
}

.btn {
    border: none;
    background: #FFB577;
    padding: 12px 24px;
}

.label-med {
    margin-right: 8px;
    font-weight: 500;
    font-size: 1.6rem;
    line-height: 1.5;
    color: #2E2D33;
}

.heading {
    font-family: var(--font-heading);
    font-style: normal;
    color: #FFFFFF;
}

.lv1 {
    font-weight: 700;
    font-size: 5.6rem;
    line-height: 1.21;
}

.lv2 {
    font-weight: 700;
    font-size: 4.8rem;
    line-height: 1.21;
}

.lv4 {
    font-weight: 700;
    font-size: 2rem;
    line-height: 1.5;
}

.desc {
    font-weight: 400;
    font-size: 1.6rem;
    line-height: 1.75;
    color: #B8B8B8;
}

.caption {
    position: relative;
    font-family: var(--font-heading);
    font-weight: 400;
    font-size: 1.6rem;
    line-height: 1.5;
    color: #FFB577;
}

.caption::after {
    position: absolute;
    content: "";
    display: block;
    width: 48px;
    border: 0.5px solid #FFFFFF;
    top: 50%;
    left: 194px;
}

/* ================Header=================*/
.fixed {
    position: sticky;
    top: -20px;
}

.header {
    background-color: var(--background-color);
}

.body {
    display: flex;
    align-items: center;
    padding: 28px 0px 8px;
}

.nav ul {
    display: flex;
    gap: 40px;
    margin-left: 50px;
}

.nav li a {
    font-weight: 500;
    font-size: 1.6rem;
    line-height: 1.5;
    color: #FFFFFF;
}

.header .action {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: auto;
    border: none;
    background-color: var(--background-color);
}

.header .action .label {
    margin-right: 12px;
    color: #FFC492;
}

/* ================Hero=================*/
.hero {
    padding-top: 96px;
    background-color: var(--background-color);
}

.hero-info {
    width: 48%;
}

.hero-info>.desc {
    margin-top: 16px;
}

.hero-info .btn  {
    margin-top: 32px;
}

.hero-info .info {
    margin-top: 40px;
    display: flex;
    flex-direction: column;
    gap: 16px;
}

.hero-img .img {
    margin-left: 32px;
    width: 622px;
    height: 683px;
    object-fit: cover;
}

/* ================Know-more=================*/
 .know-more {
    padding-top: 160px;
    background-color: var(--background-color);
 }

 .know-more .info {
    width: 49%;
 }

 .know-more .info .heading {
    margin-top: 24px;
 }

 .know-more .info .desc {
    margin-top: 32px;
 }

 .know-more .info .item-list {
    display: flex;
    gap: 38px;
    margin-top: 40px;
 }

 .know-more .info .item {
    width: 29%;
 }

 .know-more .info .item .value {
    display: flex;
    gap: 7px;
 }

 .know-more .info .item .value .number {
    font-weight: 500;
    font-size: 2.4rem;
    line-height: 1.5;
    color: #C4E4EA;
 }

 .know-more .info .btn {
    margin-top: 32px;
 }

 .know-more .images {
    display: flex;
    gap: 67px;
    margin-left: 102px;
 }

 .know-more .images .img {
    width: 240px;
    height: 500px;
    object-fit: cover;
 }

 .know-more .images .img:first-child {
    margin-top: 83px;
 }

