.contact-us {
    background-color: var(--background-color);
}

.contact-us .body {
    display: flex;
    fl
}

.contact-us .left-column {
    width: 50%;
}

.contact-us .right-column {
    width: 50%;
}

.contact-us .right-column .img {
    width: 240px;
    height: 500px;
    object-fit: cover;
}